@using MvcGroceryMangement.Models;
@using PagedList;
@using PagedList.Mvc;

@model IEnumerable<MvcGroceryMangement.Models.User >
@{
    ViewData["Title"] = "Index";



    ApplyPagination pager = new ApplyPagination();

    int pageNo = 0;
    if(ViewBag.Pager != null){
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }



}

<h1 class="p-3" >List Of Users </h1>
<div class=" text-end ">
    <a asp-controller="User" asp-action="AddUser" class="btn btn-primary text-black border">

        <i class="bi bi-file-earmark-plus" style="color:darkgreen"></i>  Add User
    </a>
</div>
<div class="container border-3"> 
<table class="table table-secondary border-2  mt-xl-5 table-responsive-xxl border-4">


        <thead class="table-dark ">
            <tr>
                <th scope="col">UserName</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){

            <tr >
                <td>@item.UserName</td>
                <td>@item.Password</td>
                <td width="20%">
                    <div class="w-200 btn-group text" >
                      <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm p-2 text-dark "> <span>  </span> <i class="bi bi-pencil-square"></i>Edit... </a> 
                  
                    <div>
                                <a asp-controller="User" asp-action="DeleteUser" asp-route-id="@item.Id" class="btn btn-primary btn-sm p-2  text-danger"> <span>  </span> <i class="bi bi-trash"></i>Delete </a>
                            </div>
                    </div>
                       
                </td>
            </tr>


            }
           
           
        </tbody>
</table>

 @*@{
        var prevDisabaled = !Model.PreviousPage ? "disabled" : "";
        var nextDisabled = !Model.NextPage ? "disabled" : "";

 }




<a asp-action = "Create" asp-route-pageNumber = "@Model.PageIndex-1" class="btn btn-primary @prevDisabaled" >
    Previous
</a>
<a asp-action="Create" asp-route-pageNumber="@Model.PageIndex+1" class="btn btn-primary @nextDisabled">
        Next
</a>*@

<partial name="_Pagination"  model="@pager"/>


