@using MvcGroceryMangement.Models
@model IEnumerable<MvcGroceryMangement.Models.GroceryProducts>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";


}

@{
    ViewBag.name = HttpContextAccessor.HttpContext.Session.GetString("UserName");
   
}



<header>

    <div id="carouselExampleCaptions" class="carousel slide py-4 " data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <buttoimage()button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2">
                </button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="width:100%">
            <div class="carousel-item active" style="background-image: url('https://media.istockphoto.com/photos/bowl-with-avocado-black-rice-chickpeas-cabbage-spinach-and-salad-picture-id1316275689?k=20&m=1316275689&s=170667a&w=0&h=P0Z96-wtuFr5phjSXfUJvpLx14Sv7MCN0pzn07fXb6A=') ">
                <div class="carousel-caption">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREIILt0n-anvOz-eyiYeC0cjTLgijYEhNsEQCbIhoJVA&s')" />
            <div class="carousel-caption">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item " style="  background-image: url('https://image.shutterstock.com/image-illustration/shopping-basket-full-variety-grocery-260nw-1978733351.jpg') ">
            <div class="carousel-caption">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</header>

<!-- Page Content -->


<div class="row row-cols-1 row-cols-md-3 g-5">
    @foreach(var item in Model){
    @if (ViewBag.name != null)
    {
       var cval = @ViewBag.value;
    <div class="col">
        <div class="card">
      

            <img src="@item.ProdImgUrl" width="300" height="200" class="card-img-top"
                 alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <span class="default-price">@item.Price</span>
                <h5 class="card-title">@item.ProductTitle - <span class="total-price">1</span> </h5>
                <p class="card-text">
                    <h4>YOU CAN BUY  </h4>
                    <br />
                   
                    @item.ProductDesc
 
                    <div class="bottom d-flex flex-row justify-content-center text-center"]
                    >
                            <div class="input-group mb-3 text-center">
                            <button class="input-group-text  btn-outline-success plus">+</button>
                            <input asp-for="@item.Price"  name="@item.Price" type="text" id="amount" width="50px" class="form-control text-center disabled " value="1" >
                            <button  class="input-group-text btn-primary minus ">-</button>
                        </div>               
                        <a href="/Home/cart?id=@item.Id&s= @Model  "  asp-route-s="@item.ProductTitle"  class=" btn btn-secondary rounded-circle btn-sm add" style="height:50px">Buy <b>$</b></a>
                        @*<a  class="nav-link" href="/Home/cart/@item.Id">About</a>*@

                    </div>

                </p>

            </div>

        </div>
    </div>
    }
    else{
    <div class="col">
        <div class="card">
            <img src="@item.ProdImgUrl" width="300px" height="200px" class="card-img-top>*
            @*<img src="https://previews.123rf.com/images/dimarik16/dimarik161905/dimarik16190500370/124183622-fresh-fruit-grocery-theme-red-and-green-apples-in-supermarket.jpg" class="card-img-top" *@
                   alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <h5 class="card-title">@item.ProductTitle</h5>

                <p class="card-text">
                    <h4> YOU CAN  ONLY VIEW </h4>
                    <br />
                    @item.ProductDesc
                </p>

            </div>

        </div>
    </div>
    }
    }
</div>
<a href="/Home/pdf">GeneratePdf</a>


@*<script type="text/javascript">
    function SetSession() {
        var name = document.getElementById("amount").value;
         console.log("whh");
        var request;
        if (window.XMLHttpRequest) {
            //New browsers.
            request = new XMLHttpRequest();
        }
        else if (window.ActiveXObject) {
            //Old IE Browsers.
            request = new ActiveXObject("Microsoft.XMLHTTP");
        }
        if (request != null) {
            var url = "Home/Cart/1";
            request.open("Get", url, false);
            var params = "{name: '" + name + "'}";
            console.log(params);
            };
            request.send(params);
        }
    }
</script>*@


<script>
    const val = document.querySelectorAll(".plus").length
    const prices = document.querySelectorAll(".default-price");
    const totals = document.querySelectorAll(".total-price");


    for (var i = 0; i < val; i++) {
        const plus = document.querySelectorAll(".plus")[i].addEventListener("click", e => {

            let val = e.target.nextElementSibling
            e.target.nextElementSibling.value = +val.value + 1;
            let card = e.srcElement.parentElement.parentElement.parentElement;
            let price = card.childNodes[1].textContent;
            card.childNodes[3].childNodes[1].textContent = price * val.value;

            // totals[i].textContent = +prices[i].textContent * +e.target.nextElementSibling.value;

        });
    }
    const valminus = document.querySelectorAll(".minus").length
    for (var i = 0; i < valminus; i++) {
        const minus = document.querySelectorAll(".minus")[i].addEventListener("click", e => {

            let par = e.srcElement.parentElement.childNodes[3];
            if (par.value > 1) {
                par.value = par.value - 1;

            }

            let card = e.srcElement.parentElement.parentElement.parentElement;
            //let price = card.childNodes[1].textContent;
            let price = card.childNodes[1].textContent;
            card.childNodes[3].childNodes[1].textContent = price * par.value;

            //   console.log(par.value);
            //  document.getElementsByClassName("total-price")[i].textContent = price*pri

            console.log(card);

        });
    }
</script>